{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}

	<section>
		<div class:"container-fluid" style="margin-top:100px; text-align:center;">
			<h1>Reset your password</h1>

			{{ form_start(resetForm) }}
			<br>
				{{ form_row(resetForm.plainPassword, { label: 'prenom'}) }}
			<button class="btn btn-primary">Réinitialiser le MOt de Passe_</button>
			{{ form_end(resetForm) }}
		</div>
	</section>
{% endblock %}
